{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "e6a515cc-b9d0-4aec-a46c-9f6b0bd1a6b7",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}